.CardOfUser {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  padding: 12px;
  height: 240px;
  width: 270px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  border-radius: 18px;
  background-size: cover;
  margin-left: 12px;
}
.detailsOfAllJobs {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.BgForDetailsOfJobs {
  padding: 12px;
  margin-bottom: 18px;
  border-radius: 22px;
  background-color: #121212;
  text-decoration: none;
  color: #ffffff;
}
.flexingData {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 22px;
}
.jobsALlBg {
  background-color: #000000;
  color: #ffffff;
}
.UserName {
  color: #6366f1;
  font-size: 18px;
}
.Description {
  color: #121212;
}
.loader-container {
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Ul {
  list-style-type: none;
}
.AllDataOfItems {
  width: 100%;
  margin-top: 18px;
}
.flexingItemsJobs {
  display: flex;
  background-color: #121212;
  color: #ffffff;
}
.searchBar {
  margin-left: 32px;
}
.inputSearch {
  width: 300px;
  height: 32px;
  padding-right: 22px;
  background-color: #121212;
  border: 1px solid whitesmoke;
  color: #ffffff;
  border-right-color: #121212;
}

.ButtonSearch {
  background-color: darkslategray;
  color: #ffffff;
  width: 44px;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  border-right-color: 1px solid whitesmoke;
}
.SalaryRange {
  font-size: 18px;
  padding-left: 43px;
}
.TypeOfEmploy {
  font-size: 18px;
  padding-left: 43px;
}
.ProfileSide {
  width: 500px;
}

.DataNot {
  text-align: center;
}
.loader-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .CardOfUser {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    padding: 12px;
    height: 200px;
    width: 94vw;
    background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
    border-radius: 18px;
    background-size: cover;
    margin-left: 12px;
    margin-right: 12px;
  }
  .detailsOfAllJobs {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .BgForDetailsOfJobs {
    padding: 12px;
    margin-bottom: 18px;
    border-radius: 22px;
    background-color: #121212;
    text-decoration: none;
    color: #ffffff;
  }
  .flexingData {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 22px;
  }
  .jobsALlBg {
    background-color: #000000;
    color: #ffffff;
  }
  .UserName {
    color: #6366f1;
    font-size: 18px;
  }
  .Description {
    color: #121212;
  }
  .loader-container {
    background-color: #000000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Ul {
    list-style-type: none;
  }
  .AllDataOfItems {
    width: 340px;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .flexingItemsJobs {
    display: flex;
    background-color: #121212;
    color: #ffffff;
    flex-direction: column;
  }
  .searchBar {
    margin-left: 32px;
  }
  .inputSearch {
    width: 230px;
    height: 32px;
    padding-right: 22px;
    background-color: #121212;
    border: 1px solid whitesmoke;
    color: #ffffff;
    border-right-color: #121212;
  }

  .ButtonSearch {
    background-color: darkslategray;
    color: #ffffff;
    width: 44px;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    border-right-color: 1px solid whitesmoke;
  }
  .SalaryRange {
    font-size: 18px;
    padding-left: 43px;
  }
  .TypeOfEmploy {
    font-size: 18px;
    padding-left: 43px;
  }
  .ProfileSide {
    width: 360px;
  }

  .DataNot {
    text-align: center;
    width: 360px;
  }
  .noJobs {
    width: 300px;
  }
  .loader-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
